# Virtual environment
.venv/

.idea/

# Python cache files
__pycache__

# Image folder
backend/resources/images/*.jpg
backend/finetuning/src/resources/*
backend/finetuning/logs

# Finetuned models
backend/finetuning/*.pth

# Databases
backend/resources/sqlite3.db

# Logs
app.log